#clockBody{
    background-color: black;
  .mainClock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .nightVid{
      position: absolute;
      opacity: 0;
      width: 50px;
      height: 50px;
      z-index: 0;
    }

    .clockContainer{
      font-family: clock;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 5px solid white;
      box-shadow: 0px 0px 30px white;
      color: #c3d1db;
      font-size: 5rem;
      width: 90%;
      height: 30%;
      background-color: rgba(40, 37, 37, 0.654);
      z-index: 10;

      #clock{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
      }

      .alarmContainer{
        height: 40%;
        display: flex;
        font-size: 0.8rem;
        font-family: Arial, Helvetica, sans-serif;
        transition: 1s;
        opacity: 0;

        .alarmInput{
          width: 15vw;
          text-align: center;
          color: #ffffff;
          background-color: #393434;
          margin: 10px;
          box-shadow: 0px 0px 10px white;
          border: 2px solid white;
          text-decoration: none;
        }
      }
    }
  }
}

#nightMode,
#dayMode{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5vh;
  right: 3vw;
  width: 50px;
  height: 50px;
  color: #FEFFFE;
  font-size: 3rem;
  box-shadow: 0px 2px 3px black;
  border-radius: 50%;
  background-color: #393434;
  transition: 0.3s;
  z-index: 20;
  &:hover{
    transform: scale(1.2);
    color: #FEFFFE;
    box-shadow: 0px 0px 10px white;
    border: 2px solid white;
    text-decoration: none;
  }
}

#dayMode{
  display: none;
}

#alarmBtn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 85vh;
    right: 3vw;
    width: 50px;
    height: 50px;
    color: #FEFFFE;
    font-size: 3rem;
    box-shadow: 0px 2px 3px black;
    border-radius: 50%;
    background-color: #393434;
    transition: 0.3s;
    z-index: 20;
    &:hover{
      transform: scale(1.2);
      color: #FEFFFE;
      box-shadow: 0px 0px 10px white;
      border: 2px solid white;
      text-decoration: none;
    }
}



@media (min-width:1024px) {

  #clockBody{
  
    .mainClock{
      width: 100vw;
      height: 100vh;
  
      .nightVid{
        height: 100vh;
        width: 100vw;
        opacity: 1;
      }
  
      .clockContainer{
        font-size: 20rem;
        width: 90%;
        height: 80%;
  
        #clock{
          height: 90%;
        }
  
        .alarmContainer{
          height: 10%;
          font-size: 1rem;
  
          .alarmInput{
            width: 8vw;
          }
        }
      }
    }
  }
}


