.mainContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #453f3f
}

.secContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: #FEFFFE;
}

.widRow{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 45%;
  width: 100%;

}

.widget{
  background-color: #453f3f;
  width: 20%;
  height: 85%;
  border-radius: 5px;
  transition: 0.3s;
  &:hover{
    transform: scale(1.1);
  }
}

.tituloPdt{
  background: url(../img/titulo1.jpg) no-repeat center / cover;
}