.shopBg {
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  .shopContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    background-color: #fff;

    .showValor {
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 15%;
      width: 80%;

      .valorText {
        width: 100%;
      }

      #valorMostrar {
        text-align: center;
        width: 100%;
      }
    }

    .shopInputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 5vh;
      margin-bottom: 5vh;
      width: 90%;
      height: 35%;

      .topContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 90%;

        input {
          text-align: center;
          height: 30px;
          border: none;
          border-bottom: 1px solid #ffcc70;
          

          &:focus {
            outline: none;
            border-bottom: 3px solid #ffcc70;
          }
        }
      }
      select {
        border: none;
        text-align: center;
        border-bottom: 1px solid #ffcc70;
      }
    }

    .botContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      

      input {
        width: 40%;
        font-weight: 300;
        border-radius: 20px;
        color: white;
        text-align: center;
        background-color: #4158d0;
        background-image: linear-gradient(
          43deg,
          #4158d0 0%,
          #c850c0 46%,
          #ffcc70 100%
        )
      }
    }

    .listContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 100%;
      overflow-y: auto;

      .list {
        width: 90%;
        text-align: center;
        margin-bottom: 5vh;

        .productos {
          display: flex;
          width: 100%;
          color: white;
          background-image: linear-gradient(
            43deg,
            #4158d0 0%,
            #c850c0 46%,
            #fcba3f 100%);
          justify-content: space-evenly;
          outline: 2px solid white;
          border-radius: 10px;
          overflow-x: auto;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {

}
