.shopBg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(14, 13, 13, 0.719);

  .shopContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 50vw;
    height: 70vh;
    border-radius: 20px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.295);
  
    
    .showValor{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #393434;
      outline: 2px solid white;
      color: #c3d1db;
  
      .valorText{
        width: 100%;
      }
  
      #valorMostrar{
        text-align: center;
        width: 100%;
      }
    }
  
    .shopInputs{
      margin-top: 5vh;
      margin-bottom: 5vh;
      height: 20%;
      color: #c3d1db;
  
      input{
        background-color: #393434;
        border: 2px solid white;
        border-radius: 5px;
        text-align: center;
      }

      select{
        background-color: #393434;
        border: 2px solid white;
        border-radius: 5px;
        text-align: center;
      }
    }
  
    .listContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 100%;
      overflow-y: auto;
      }
  
      .list{
        width: 70%;
        background-color: #fff;
        text-align: center;
        margin-bottom: 5vh;
  
        .productos{
          display: flex;
          width: 100%;
          color: #c3d1db;
          justify-content: space-evenly;
          background-color: #393434;
          outline: 2px solid white;
          overflow-x: auto;
        }
      }
    }
}


