.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #453f3f;
}

.mainContainer .secContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: #fefffe;
}

.mainContainer .secContainer .widRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 45%;
  width: 100%;
}

.mainContainer .secContainer .widRow .widget {
  background-color: #453f3f;
  width: 20%;
  height: 85%;
  border-radius: 5px;
  transition: 0.3s;
  outline: 3px solid #453f3f;
}

.mainContainer .secContainer .widRow .widget:hover {
  transform: scale(1.1);
  outline: 3px solid #453f3f;
}

.mainContainer .secContainer .widRow .tituloPdt {
  background: url(../img/titulo1.jpg) no-repeat center/cover;
}

.mainContainer .secContainer .widRow .tituloClock {
  background: url(../img/clockBack.jpg) no-repeat center/cover;
}

.mainContainer .secContainer .widRow .tituloQuotes {
  background: url(../img/quotesback.jpg) no-repeat center/cover;
}

.mainContainer .secContainer .widRow .tituloWeather {
  background: url(../img/climaBack.jpg) no-repeat center/cover;
}

.mainContainer .secContainer .widRow .tituloNotes {
  background: url(../img/notesBack.jpg) no-repeat center/cover;
}

.mainContainer .secContainer .widRow .tituloNotes .buyBg {
  outline: 3px solid #453f3f;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(92, 86, 86, 0.815);
  z-index: 10;
}

.mainContainer .secContainer .widRow .tituloNotes .buyBg .buyBgImg {
  width: 100%;
  height: 100%;
}

.mainContainer .secContainer .widRow .tituloNotes .buyBg .buyBgImg:hover {
  background: url(../img/lock.png) no-repeat center/cover;
  background-size: 50%;
}

.mainContainer .secContainer .widRow .tituloShop {
  background: url(../img/shopBack.jpg) no-repeat center/cover;
}

.gameMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #453f3f;
}

.gameMain .gameContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 85%;
  background-color: #BFD7EA;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
}

.gameMain .gameContainer .manos {
  display: flex;
  width: 100%;
  height: 70%;
}

.gameMain .gameContainer .manos .mano1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}

.gameMain .gameContainer .manos .mano1 .manoBg {
  border: 5px solid #0B3954;
  width: 70%;
  height: 70%;
  background-color: #FEFFFE;
}

.gameMain .gameContainer .manos .mano1 .manoBg #mano1 {
  background: url(../img/rock.png) no-repeat center/cover;
}

.gameMain .gameContainer .manos .mano1 .manoBg .manoImg {
  width: 100%;
  height: 100%;
}

.gameMain .gameContainer .manos .mano2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}

.gameMain .gameContainer .manos .mano2 .manoBg {
  border: 5px solid #0B3954;
  width: 70%;
  height: 70%;
  background-color: #FEFFFE;
}

.gameMain .gameContainer .manos .mano2 .manoBg #mano2 {
  background: url(../img/rock.png) no-repeat center/cover;
}

.gameMain .gameContainer .manos .mano2 .manoBg .manoImg {
  width: 100%;
  height: 100%;
}

.gameMain .gameContainer .manos .vs {
  width: 10%;
  height: 100%;
  background: url(../img/vs.png) no-repeat center/contain;
}

.gameMain .gameContainer .manoBottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 30%;
  border-top: 2px solid #291F1E;
  background-color: #291F1E;
}

.gameMain .gameContainer .manoBottom .buttonBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 55%;
  background-color: #291F1E;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.gameMain .gameContainer .manoBottom .buttonBg:hover {
  transform: scale(1.2);
}

.gameMain .gameContainer .manoBottom .buttonBg .playButton {
  width: 100%;
  height: 100%;
}

.gameMain .gameContainer .manoBottom .buttonBg #rock {
  background: url(../img/rock.png) no-repeat center/cover;
}

.gameMain .gameContainer .manoBottom .buttonBg #papper {
  background: url(../img/papper.png) no-repeat center/cover;
}

.gameMain .gameContainer .manoBottom .buttonBg #scissor {
  background: url(../img/scissors.png) no-repeat center/cover;
}

#clockBody {
  overflow: hidden;
}

#clockBody .mainClock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#clockBody .mainClock .nightVid {
  position: absolute;
  width: 100vw;
  z-index: 0;
}

#clockBody .mainClock .clockContainer {
  font-family: clock;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid white;
  box-shadow: 0px 0px 30px white;
  color: #c3d1db;
  font-size: 20rem;
  width: 90%;
  height: 80%;
  background-color: rgba(40, 37, 37, 0.654);
  z-index: 10;
}

#clockBody .mainClock .clockContainer #clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#clockBody .mainClock .clockContainer .alarmContainer {
  height: 10%;
  display: flex;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  transition: 1s;
  opacity: 0;
}

#clockBody .mainClock .clockContainer .alarmContainer .alarmInput {
  width: 8vw;
  text-align: center;
  color: #ffffff;
  background-color: #393434;
  margin: 10px;
  box-shadow: 0px 0px 10px white;
  border: 2px solid white;
  text-decoration: none;
}

#nightMode,
#dayMode {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5vh;
  right: 3vw;
  width: 50px;
  height: 50px;
  color: #FEFFFE;
  font-size: 3rem;
  box-shadow: 0px 2px 3px black;
  border-radius: 50%;
  background-color: #393434;
  transition: 0.3s;
  z-index: 20;
}

#nightMode:hover,
#dayMode:hover {
  transform: scale(1.2);
  color: #FEFFFE;
  box-shadow: 0px 0px 10px white;
  border: 2px solid white;
  text-decoration: none;
}

#dayMode {
  display: none;
}

#alarmBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 85vh;
  right: 3vw;
  width: 50px;
  height: 50px;
  color: #FEFFFE;
  font-size: 3rem;
  box-shadow: 0px 2px 3px black;
  border-radius: 50%;
  background-color: #393434;
  transition: 0.3s;
  z-index: 20;
}

#alarmBtn:hover {
  transform: scale(1.2);
  color: #FEFFFE;
  box-shadow: 0px 0px 10px white;
  border: 2px solid white;
  text-decoration: none;
}

#quoteBody {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f6dee2;
  transition: 10s;
}

#quoteBody #quoteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  width: 70vw;
  height: 40vh;
  background-color: white;
  border: 3px solid #343131;
  border-radius: 10px;
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
}

#quoteBody #quoteBtn:hover {
  opacity: 1;
  transform: scale(1.05);
}

#wBody {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/buenosaires.jpg) no-repeat center/cover;
  height: 100vh;
}

#wBody .wNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5vh;
  background-color: #fff;
}

#wBody .wNav .wNavDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #e9e0e0;
}

#wBody .wNav .wNavDiv:hover {
  background-color: #312f2f;
  color: white;
  cursor: pointer;
}

#wBody .wContainer {
  display: grid;
  height: 50vh;
  width: 30vw;
  background-color: white;
  grid-template-areas: "localidad localidad" "temp icono" "data data";
  grid-template-columns: 5fr 6fr;
  grid-template-rows: 3fr 5fr 5fr;
  box-shadow: 10px 10px 10px black;
  border: 2px solid black;
}

#wBody .wContainer #localidad {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b1e4e4;
  grid-area: localidad;
  font-size: 2.5rem;
}

#wBody .wContainer #maxmin {
  grid-area: icono;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wBody .wContainer #temp {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: temp;
  font-size: 3rem;
}

#wBody .wContainer #data {
  grid-area: data;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  border-top: 1px solid black;
}

#wBody .wContainer #data #dataBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

#wBody .backWeather {
  margin-top: 10vh;
}

#notesGrid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "n1 n2 n3 n4 n5"  "n6 n7 n8 n9 n10" "btn btn btn btn btn";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10fr 10fr 2fr;
}

#notesGrid .note {
  display: flex;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  outline: 1px solid black;
  text-align: center;
  padding: 10px;
  overflow-y: auto;
}

#notesGrid .n1 {
  grid-area: n1;
}

#notesGrid .n2 {
  grid-area: n2;
}

#notesGrid .n3 {
  grid-area: n3;
}

#notesGrid .n4 {
  grid-area: n4;
}

#notesGrid .n5 {
  grid-area: n5;
}

#notesGrid .n6 {
  grid-area: n6;
}

#notesGrid .n7 {
  grid-area: n7;
}

#notesGrid .n8 {
  grid-area: n8;
}

#notesGrid .n9 {
  grid-area: n9;
}

#notesGrid .n10 {
  grid-area: n10;
}

#deleteAll {
  grid-area: btn;
}

.shopBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #947bd3;
  background: linear-gradient(180deg, #947bd3 54%, #f0a7a0 89%);
}

.shopBg .shopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 50vw;
  height: 70vh;
  border-radius: 20px;
  border: 3px solid #05299E;
  background-color: rgba(255, 255, 255, 0.295);
}

.shopBg .shopContainer .showValor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F0A7A0;
}

.shopBg .shopContainer .showValor .valorText {
  width: 100%;
}

.shopBg .shopContainer .showValor #valorMostrar {
  text-align: center;
  width: 100%;
}

.shopBg .shopContainer .shopInputs {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 20%;
}

.shopBg .shopContainer .shopInputs input {
  background-color: #F0A7A0;
  border: 1px solid #05299E;
}

.shopBg .shopContainer .listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  overflow-y: auto;
}

.shopBg .shopContainer .list {
  width: 70%;
  background-color: #fff;
  text-align: center;
  margin-bottom: 5vh;
}

.shopBg .shopContainer .list .productos {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #F0A7A0;
  border: 1px solid black;
}

@font-face {
  font-family: clock;
  src: url(../@font-face/alarmclock.ttf);
}

* {
  padding: 0;
  margin: 0;
}

#backNotes {
  top: 90vh;
  left: 0;
}

.backButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5vh;
  left: 3vw;
  width: 50px;
  height: 50px;
  color: #FEFFFE;
  font-size: 3rem;
  box-shadow: 0px 2px 3px black;
  border-radius: 50%;
  background-color: #393434;
  transition: 0.3s;
  z-index: 20;
}

.backButton:hover {
  transform: scale(1.2);
  color: #FEFFFE;
  box-shadow: 0px 0px 10px white;
  border: 2px solid white;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */